body{
    background-color: #232323;
}
#div{
    /* background-color: #101010;    */
    display: flex;
    /* width: 60%; */
    justify-content:space-around;
    align-items: center;
}
*{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    /* border: 1px solid red;   */
    margin: 0;
    padding: 0;
    color: white;
}
header{
    background-image: url(img/bg2.webp);
    /* border-image:fill 0 linear-gradient(rgba(0, 0, 0, 0.604),#0000009e) ; */
    border-image:fill 0 linear-gradient(5deg,rgba(0, 0, 0, 0.604),#000000d8); 
    height: 140vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(90de);
}
.div2{
    height: 5vh;
    width: 5vw;
    /* border: 1px solid red; */
}
.div2>button{
    height: 100%;
    width: 100%;
    background-color: #E50913;
    color: white;
    border: none;
    border-radius:6px;
    font-weight: 600;
}
.div1{
    margin-top: 4vh;
}
.div1>img{
    height: 8vh;
    width: 12vw;
}
.span{
    Font-size: 48px;

Font-weight: 900;

Line-height: normal;
}
.span1{
    Font-size: 24px;

Font-weight: 400;

Line-height: normal;
}
.span2{
    Font-size: 20px;

Font-weight: 400;

Line-height: 30px;
}
#div2{
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 60vh;
    text-align: center;
}
.button{
    height: 7vh;
    width: 12vw;
    border: none;
    /* margin-bottom: 100px; */
    background-color: #E50914;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 650;
}
input{
    height: 7vh;
    width: 18vw;
    border: none;
    border-radius: 4px;
    background-color: #24201a6f;
    font-size: 15px;
    /* color: black; */
    font-weight: 600;
}
.text{
    Font-size: 48px;
Font-weight: 900;

Line-height: normal;
color: rgb(255, 255, 255);
}
.text1{
    Font-size: 24px;
Font-weight: 400;

Line-height: normal;
}
.tv2{
    height: 80vh;
    width: 40vw;
}
.tv2>img{
    height: 80vh;
    width: 100%;
}
#tv{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}
.mobile{
    Font-size: 48px;
Font-weight: 900;
Line-height: normal;
}
.mobile1{
    Font-size: 24px;

Font-weight: 400
;
Line-height: normal;

}
#mob{
    height: 80vh;
    width: 100%;
    background-color:#000000 ;
    display: flex;
    align-items: center;
    margin-top: 1%;
}.for{
    Font-size: 48px;

Font-weight: 900;

Line-height: normal;
}
.for1{
    Font-size: 24px;

Font-weight: 400;

Line-height: normal;
}
#forth{
    height: 50vh;
    margin-top: 1%;
    width: 100%;
    background-color: #000000;
    
}
#forth1{
    margin-left: 20%;
    
    
}
#kids{
    height: 80vh;
    margin-top: 1%;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
}
.kid{
    Font-size: 48px;

Font-weight: 900;

Line-height: normal;
}
.kid1{
    Font-size: 24px;

Font-weight: 400;

Line-height: normal;
}
.ask{
    Font-size: 48px;

Font-weight: 900;

Line-height: normal;
}
#bb{
    height: 140vh;
    width: 100%;
    margin-top: 1%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bb{
    height: 12vh;
    /* background-color: #E50913; */
    /* border: 1px solid white; */
}
.bd{
    text-align: center;
}
.bb>button{
    height: 100%;
    width: 80%;
    margin-left: 10%;
    border: none;
    background-color: #414141af;
    Font-size: 24px;
    text-align: start;
    padding-left: 15px;

Font-weight: 400;

Line-height: normal;
}
.bb>button:hover{
    background-color:#414141f9 ;

    /* transition: all 0.6s ease; */
    transition: all 0.6s ease-in;
    transform: scale(1.1);
}
.class>span{
    Font-size: 20px;

Font-weight: 400;

Line-height: 30px;
}
.class{
    /* margin-left: 10%; */
    text-align: center;
}
li{
    Font-size: 16px;

Font-weight: 400;
list-style: none;
padding: 10px;
/* color: #A8B3A8; */

}
a{
    color: #A8B3A8;
}

footer{
    height: 60vh;
    width: 100%;
    background-color: #000000;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    
}
@media(width :367px){
header {
    width: 180vw;
    height: 150vh;
}
}
@media(width :367px){
    .div1>img {
         
height: 50px;
width: 100px;
    }}
    @media(width : 367px){

        .div2
        {height: 40px;
            width: 100px;
        }
    }
    @media(width: 367px){
        #div2>input{
            height: 60px;
            width: 250px;
        }
    }
    @media(width: 367px){
        #div2>button{
            height: 60px;
            width: 150px;
        }
    }
    @media(width: 367px){
        #tv{
            height: 130vh;
            width: 180vw;
        }
    }
    @media(width: 367px){
        .tv2>img{
            height: 40vh;
            width: 40vw;
        }
    }
    @media(width: 367px){
        #mob{
            height: 130vh;
            width: 180vw;
        }
    }
    @media(width: 367px){
        .mob1>img{
            height: 250px;
            width: 250px;
        }
    }
    @media(width: 367px){
        #forth{
            height: 60vh;
            width: 180vw;
        }
         
    }
    @media(width: 367px){
        #kids{
            height: 130vh;
            width: 180vw;

        }
    }
    @media(width: 367px){
        .kids1>img{
            height: 280px;
            width: 280px;

        }
    }
    @media(width: 367px){
        .kids2{
            height: 150px;
            width: 350px;
            margin-bottom: 200px;
        }
    }
    @media(width: 367px){
        #bb{
            height: 180vh;
            width: 180vw;
        }
    }
     @media(width: 367px){
        #dd>input{
            width:250px
            ;height: 60px;  }}
            @media(width: 367px){
                #dd>button{
                    height: 60px;
                   width:  150px
                }
            }
            @media(width: 367px){
                footer{
                    height: 70vh;
                    width: 180vw;
                }
            }
    